<?xml version="1.0"?>

<model>
    <name> picturebox </name>
    <version> 1.0 </version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name> zyz </name>
        <email> 1540152688@qq.com </email>
    </author>

    <description>
        Picturebox for displaying images in Gazebo
    </description>

    <thumbnail>thumbnails/picturebox.png</thumbnail>
</model>
